player-connection-mode=Listen
player-connection-guid=2994940317
player-connection-debug=1
player-connection-project-name=i4C_DigTwin
player-connection-ip=192.168.1.83
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=9187ccf2b45a48dd8546abb869a33759
